<div id="chartParams" class="animationContainer">
  <span>Do you want to set params?</span>

  <form id="chartParamsForm">
    <ul id="chartParamsListchartT">
      <input id="paramInput-type" name="paramInput-type" type="text">
      {{#each chartParams}}
      <li>
        <input id="paramInput-{{this.name}}" name="paramInput-{{this.name}}" type="{{this.type}}" >
        <label for="paramInput-{{this.name}}">{{this.name}}</label>
      </li>
      {{/each}}
      <button>Create Chart!!!</button>
    </ul>
  </form>
</div>
