<div class="repoList">
  <h4>Included repositories</h4>
  <dl>
    {{#each repos}}
      <dt><a href="https://github.com/{{this.owner}}/{{name}}" target="_blank">{{this.owner}} / {{name}}</a> | {{this.repo}} | <span>{{this.language}}</span><i class="fontawesome-info-sign"></i>
      <dd>{{this.count}}
    {{/each}}
  </dl>
  {{name}}
</div>
