<div class="repoList">
  <h4>Included repositories</h4>
  <dl>
    {{#each repos}}
      <dt><a href="https://github.com/{{this.owner}}/{{name}}" target="_blank">{{owner}} / {{name}}</a> | {{repo}} | <span>{{language}}</span><i class="fontawesome-info-sign" data-repo-name="{{name}}" data-repo-owner="{{owner}}"></i>
      <dd>{{this.count}}
    {{/each}}
  </dl>
</div>
