<div class="repoList">
  <h4>Included repositories</h4>
  <dl>
    {{#each repos}}

      <dt>{{this.owner}} / {{name}} | {{this.repo}}</dt>
      <dd>{{this.count}}
    {{/each}}
  </dl>
  {{name}}
</div>
