<div class="attributes">
  <h4>Included repositories</h4>
  <dl data-help="Click here for particalur information.">
    {{#each repos}}
      <dt><a href="https://github.com/{{owner}}/{{name}}" target="_blank">{{owner}} / {{name}}</a> | {{repo}} | <span>{{language}}</span><i class="fontawesome-info-sign" data-repo-name="{{name}}" data-repo-owner="{{owner}}"></i>
      <dd>{{count}}
    {{/each}}
  </dl>
</div>
